*{
    box-sizing: border-box;
}

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

/* Body Formatting */



body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url("Images/leaves.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-color: rgb(148, 66, 36); */
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

h2 {
    font-size: 20pt;
    font-weight: bold;
}

button {
    height: fit-content;
    width: fit-content;
    background-color: firebrick;
    color: white;
    font-size: 20pt;
    padding: 10px;
    margin: 10px;
    border: 3px;
    border-radius: 5px;
    align-self: center;
    box-shadow: 0 5px #999;
}

button:hover {
    background-color: rgb(107, 19, 19);
}

button:active{
    background-color: rgb(107, 19, 19);
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

input {
    height: fit-content;
    width: 95%;
    padding: 10px;
    margin: 10px;
    font-size: 16pt;
    border:0;
    border-bottom: 2px solid orange;
    border-radius: 5px;
    box-shadow: 0 0 5px 4px rgba(204, 137, 137, 0.3);
}

label {
    font-size: 16pt;
    padding-left: 10px;
}

p {
    font-size: 16pt;
    border: firebrick 3px;
    padding: 5px;
}

form {
    padding-top: 10px;
}

#reset {
    color: white;
    height: 50px;
    font-size: 16pt;
    background-color: rgb(78, 3, 107);
    border-radius: 5px;
    border: forestgreen 3px;
    text-align: center;
    box-shadow: 0 5px #999;
}

#reset:hover {
    background-color: rgb(50, 1, 70);
}

#reset:active {
    background-color: rgb(50, 1, 70);
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

#submit {
    color: white;
    height: 50px;
    font-size: 16pt;
    background-color: forestgreen;
    border-radius: 5px;
    border: forestgreen 3px;
    text-align: center;
    box-shadow: 0 5px #999;
}

#submit:hover {
    background-color: rgb(18, 77, 18);
}

#submit:active {
    background-color: rgb(18, 77, 18);
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

#header{
    padding: 20px;
    text-align: center;
    /* background-color: orangered; */
    color: orangered;
    background-color: white;
    width: 50vw;
    height: 20vh;
    margin: 10px;
    border: 10px solid rgb(255, 241, 233);
    border-radius: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 75vw;
    height: fit-content;
    margin: 0 auto;
    background-color: white;
}

.container > div {
    justify-content: center;
    text-align: center;
    flex-basis: 100%;
    padding: 10px;
    background-color: white;
}


#footer {
    /* background-color: orangered; */
    color: white;
    height: 20vh;
}