/* V2
- Update 
*/

* {
  box-sizing: border-box;
}

/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

/* Body Formatting */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 16pt;
  height: 100%;
  /* background-color: rgb(148, 66, 36); */
}

.site-wrapper {
  /* display: flex; */
  color: black;
  /* background-color: white; */
  min-height: 100vh;
  background-color: rgb(20, 18, 18);
  /* background-color: rgb(237, 252, 241); */
}

.site-header {
  display: flex;
  align-items: center;
  background-color: black;
  height: 100px;
  width: 100%;
  color: white;
}

.site-header-inner {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  padding: 20px;
  padding-left: 50px;
}

.header-left {
  font-size: xx-large;
}

.header-center {
  padding-left: 500px;
  text-align: right;
}

.header-right {
  text-align: right;
}

.site-inner {
  display: flex;
  justify-content: center;
  align-content: center;
  height: fit-content;
  width: 100%;
  /* height: 120vh; */
  min-height: 100%;
  padding: 20px;
  padding-bottom: 50px;
}

.content {
  display: flex;
  /* background-color: white; */
  align-content: space-between;
  justify-content: space-between;
  width: fit-content;
  /* /* padding: 30px; */
  padding: 30px;
}

.content-column {
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  margin: 20px;
  border: 3px solid rgb(232, 246, 248);
  border-radius: 5px;
  color: black;
  flex: 1;
  width: 500px;
  min-height: 300px;
}

#content-column-left {
  /* margin-right: 80px; */
  text-align: left;
}

#content-column-right {
  /* margin-left: 80px; */
  /* padding-top: 50px; */
  text-align: center;
}

.footer-outer {
  background-color: black;
  color: white;
  height: 70px;
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-inner {
  font-size: 14pt;
  padding: 10px;
}

button {
  height: fit-content;
  width: fit-content;
  background-color: firebrick;
  color: white;
  font-size: 16pt;
  padding: 10px;
  margin: 10px;
  border: 3px;
  border-radius: 5px;
  align-self: center;
  box-shadow: 0 5px #999;
}

button:hover {
  background-color: rgb(107, 19, 19);
}

button:active {
  background-color: rgb(107, 19, 19);
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

input {
  height: fit-content;
  width: 300px;
  padding: 10px;
  margin: 10px;
  font-size: 14pt;
  border: 0;
  border-bottom: 2px solid rgba(204, 137, 137, 0.3);
  border-radius: 5px;
  box-shadow: 0 0 5px 4px rgba(204, 137, 137, 0.3);
}
